.two-components {
    display: contents;
}
.problems-block {
    padding-top: 30px;
    width: 900px;
    height: 500px;
    td {
        padding-left: 40px;
        height: 30px;
        line-height: 30px;
        display: inline-block;
        overflow-y: hidden;
    }
    td:nth-child(2) {
        width: 400px;
    }
    td:nth-child(3) {
        width: 100px;
        span {
            color: #fff;
            padding: 3px 8px;
            border-radius: 10px;
        }
    }
    hr {
        opacity: 0.2;
    }
}

.table-name {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #454546;
    // margin: 0 0 20px 20px;
    td {
        margin: 0 -10px 20px 60px;
        padding-left: 0;
    }
}
.create-problem {
    display: block;
    margin: 0 auto 30px;
    width: 180px;
    height: 40px;
    background-color: #008cf0;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 300;
    color: #ffffff;
}

.task {
    cursor: pointer;
    font-size: 16px;
    margin: 5px 0;
    line-height: 1.2;
    font-weight: 300;
    color: #525460;
    display: flex;
    align-items: center;

    div {
        padding-left: 5px;
        margin: 0 0 0 2px;
        border-radius: 20px;
        height: 50px;
    }
}
.task:hover {
    background-color: rgba(0,0,0,0.1);
}

.problems-block-small {
    padding-top: 30px;
    width: 600px;
    height: 500px;

    thead {
        td {
            padding-left: 0;
        }
    }
    td {
        padding-left: 40px;
        height: 30px;
        line-height: 30px;
        display: inline-block;
        overflow-y: hidden;
    }
    td:nth-child(2) {
        width: 400px;
    }
    td:nth-child(3) {
        width: 100px;
        span {
            color: #fff;
            padding: 3px 8px;
            border-radius: 10px;
        }
    }
    hr {
        opacity: 0.2;
    }
}

@media(max-height:800px) {
    .problems-block { 
            overflow-y: scroll;
    }
}